@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using BathDream.Models
@model BathDream.Pages.Account.CustomerModel.InputModel
@{
}

<br />
@*<p>@Model.Signed &lt;- Временный указатель</p>*@
<br />

@if (Model.PaymentMessage != "")
{
    <div id="my-alert" class="alert alert-danger alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        @Model.PaymentMessage
    </div>
}

<p class="contract-center"><span style="font-size:  x-large;">ДОГОВОР №@Model.OrderNumber</span></p>
<hr />
<table class="contract-table">
    <tr>
        <td>г. Москва</td>
        <td class="contract-right">Дата @Model.OrderDate г.</td>
    </tr>
</table>
<div class="contract-text">
    <p class="contract-p">@Model.FIO, <span class="contract-bold">зарегистрирован(на) по адресу:</span> @Model.PasportAddress, именуемый в дальнейшем <span class="contract-bold">Заказчик</span>, и <span class="contract-bold">Общество с ограниченной ответственностью «Престиж»</span>, именуемый в дальнейшем <span class="contract-bold">Подрядчик</span>, в лице Генерального директора <span class="contract-bold">Захаревича Дмитрия Борисовича</span>, действующего на основании Устава, с другой стороны, заключили настоящий Договор о нижеследующем:</p>
    <p class="contract-top-level">1. Предмет Договора.</p>
    <p class="contract-p">1.1. Заказчик поручает, а Подрядчик принимает на себя обязательства по ремонту помещения (квартира), по адресу: <span class="contract-bold">@Model.OrderAddress</span>, именуемый в дальнейшем Объект, согласно проектно-сметной документации, прилагаемой к настоящему договору и пожеланиями Заказчика, выраженными в письменной форме.</p>
    <p class="contract-top-level">2. Стоимость и сроки выполнения работ.</p>
    <p class="contract-p">2.1. Содержание работ указано в Протоколе согласования цены (Приложение №1), объемы и способы выполнения работ указаны в Проектной Документации, которые являются неотъемлемой частью Договора. </p>
    <p class="contract-p">2.2. Стоимость материалов определяется фактическими ценами в соответствии со сметой и выбором Заказчика.</p>
    <p class="contract-p">2.3. Сроки выполнения работ составляют 14 (четырнадцать) календарных дней с момента подписания настоящего Договора. В связи с технологической необходимостью, сроки могут корректироваться по взаимной договоренности.</p>
    <p class="contract-p">2.4. В случае, если в ходе выполнения работ по настоящему Договору обнаружится необходимость проведения работ, не предусмотренных сметой, стороны письменно согласовывают новые сроки, стоимость и порядок выполнения дополнительных объемов работ, что оформляется соответствующими дополнениями к настоящему Договору.</p>
    <p class="contract-p">2.5. Приложение № 1 (Смета) является неотъемлемой частью настоящего Договора.</p>
    <p class="contract-top-level">3. Права и обязанности сторон.</p>
    <p class="contract-p">3.1.1. Заказчик обязуется, в случае надлежащего выполнения, а также исполнения Подрядчиком пп. 3.2.1, 3.2.3, 3.2.4, 5.2 оплатить Подрядчику работы, согласно смете.</p>
    <p class="contract-p">3.1.2. К моменту начала работ по настоящему Договору обеспечить надлежащую подготовку Объекта для своевременного начала работ, нормального их ведения и завершения в срок.</p>
    <p class="contract-p">3.1.4. В срок не позднее 3 (трех) рабочих дней со дня письменного представления рассматривать извещения, уведомления и другие документы, представляемые Подрядчиком в связи с выполнением его обязательств по настоящему Договору.</p>
    <p class="contract-p">3.1.5. Предоставить Подрядчику помещение для складирования материалов и бытовое помещение для рабочих.</p>
    <p class="contract-p">3.1.6. Обеспечить возможность отключения стояков отопления и водоснабжения, опрессовки системы, если будут проводиться сантехнические работы.</p>
    <p class="contract-p">3.1.7. Возможность отключения электроснабжения.</p>
    <p class="contract-p">3.1.8. Совместно с представителем Подрядчика подписать Акт приемки-передачи объекта работ по настоящему Договору.</p>
    <p class="contract-p">3.2. Обязанности Подрядчика:</p>
    <p class="contract-p">3.2.1. Приступить к выполнению работ по настоящему Договору в срок не позднее 3 (трех) рабочих дней с момента подписания Договора объекта  для производства работ по настоящему Договору.</p>
    <p class="contract-p">3.2.2. Выполнить своими силами и техническими средствами все работы в объеме и сроки, предусмотренные настоящим Договором.</p>
    <p class="contract-p">3.2.3. Обеспечить выполнение ремонтных работ в соответствии с требованиями действующих в России Строительных норм и правил (СНиП), правилами Госгортехнадзора, пожарной безопасности, техники безопасности, санитарными нормами и правилами производства работ в г. Москве и Московской области.</p>
    <p class="contract-p">3.2.4. По окончании работ на Объекте, в течение 2 рабочих дней, передать строительную площадку освобожденной от строительного мусора и техники.</p>
    <p class="contract-p">3.2.5. Подрядчик имеет право привлекать третьих лиц для выполнения работ по настоящему Договору, требующих специальных лицензий и разрешений. При этом ответственность за качество и сроки выполняемых такими лицами работ несет Подрядчик.</p>
    <p class="contract-p">3.2.6. Обеспечить производимые в соответствии с условиями настоящего Договора работы на объекте всеми необходимыми материалами, деталями и конструкциями, а также оборудованием и строительной техникой.</p>
    <p class="contract-top-level">4. Порядок сдачи-приемки и оплаты работ.</p>
    <p class="contract-p">4.1. Для финансирования работ Заказчик, не позднее трех рабочих дней с момента подписания настоящего Договора, оплачивает Подрядчику авансовый платеж в размере <span class="contract-bold">10%</span> от стоимости всех работ, указанных в Приложении №1. После окончания всех работ, после подписания Сторонами Акт выполненных работ, Дополнительных соглашений Заказчик оплачивает оставшиеся 90% от стоимости работ, указанных в Приложении №1,  Дополнительных соглашениях.</p>
    <p class="contract-p">4.2. Расчет за выполненный этап работ производится не позднее 3 (трех) дней после подписания обеими сторонами Акта выполненных работ по форме №3 </p>
    <p class="contract-p">4.3. Окончательный расчет производится не позднее 3 (трех) рабочих дней после подписания обеими сторонами Акта приема-сдачи работ. </p>
    <p class="contract-p">4.3. В случае наличия у Заказчика обоснованных претензий по качеству предъявленной работы, Подрядчик обязан устранить недостатки и дефекты за свой счет, если эти недостатки и дефекты не являются следствием применения некачественных материалов, предоставленных Заказчиком. Наличие недостатков и дефектов, а также сроки и порядок их устранения, определяются двусторонним актом Заказчика и Подрядчика.</p>
    <p class="contract-top-level">5. Гарантийные обязательства Подрядчика.</p>
    <p class="contract-p">5.1. Гарантии качества работы Подрядчика, предусмотренные действующим на момент заключения настоящего Договора законодательством РФ, распространяются только на результаты работ, выполняемых Подрядчиком и привлеченными им третьими лицами в соответствии с условиями настоящего Договора.</p>
    <p class="contract-p">5.2. Подрядчик гарантирует высокое качество всех производимых им на Объекте работ.</p>
    <p class="contract-p">5.3. Гарантийный срок на результаты работ, выполненных Подрядчиком в соответствии с условиями настоящего Договора, составляет 1 (один) год  с момента подписания Акт выполненных работ Заказчиком. </p>
    <p class="contract-p">5.4. В случае обнаружения в пределах предусмотренного п.5.3 гарантийного срока, недостатков (дефектов), которые обусловлены ненадлежащим исполнением Подрядчиком своих обязательств по настоящему Договору, Подрядчик обязан устранить такие недостатки за свой счет в согласованные с Заказчиком в письменном виде сроки, но не более 14 календарных дней.</p>
    <p class="contract-top-level">6. Ответственность сторон.</p>
    <p class="contract-p">6.1. За неисполнение или ненадлежащее исполнение обязательств по настоящему Договору стороны несут материальную ответственность в соответствии с действующим на момент заключения настоящего Договора законодательством РФ.</p>
    <p class="contract-p">6.2. Подрядчик несет полную ответственность за ущерб, нанесенный Заказчику и  третьим лицам в связи с производством работ по настоящему Договору, если такой ущерб является следствием ненадлежащего выполнения им своих обязательств.</p>
    <p class="contract-p">6.3. В случае нарушения сроков выполнения работ, Подрядчик уплачивает штрафные санкции в размере 1% от стоимости незаконченных работ, но не более 10 % от технического задания стоимости Договора за каждый день просрочки. В  случае нарушения сроков выполнения работ на срок более 30 календарных дней,   Подрядчик уплачивает штрафные санкции в размере 1 % от стоимости незаконченных работ, но не более 15 % от технического задания стоимости Договора за каждый день просрочки.</p>
    <p class="contract-p">6.4. В случае нарушения сроков оплаты работ, Заказчик уплачивает штрафные санкции в размере 1% от стоимости неоплаченных работ за каждый день просрочки, но не более 10% от технического задания стоимости Договора.</p>
    <p class="contract-top-level">7. Форс-мажорные обстоятельства.</p>
    <p class="contract-p">7.1. Ни одна из сторон не несет ответственности перед другой стороной за невыполнение обязательств, обусловленное обстоятельствами непреодолимой силы, возникшими помимо воли и желания сторон и которые нельзя предвидеть или избежать, включая военные действия на территории исполнения Договора, гражданские волнения, эпидемии, стихийные бедствия и другое.</p>
    <p class="contract-p">7.2. Наступление обстоятельств по п.7.1 должно быть надлежащим образом удостоверено компетентными органами государственного или местного управления.</p>
    <p class="contract-p">7.3. Сторона, которая не исполняет свои обязательства в силу форс-мажорных обстоятельств, должна письменно известить другую сторону о наступлении таких обстоятельств в течение 10 дней со дня наступления форс-мажорных обстоятельств. При отсутствии такого извещения эта сторона не может ссылаться на наличие таких обстоятельств.</p>
    <p class="contract-top-level">8. Разрешение споров и разногласий.</p>
    <p class="contract-p">8.1. Все споры и разногласия, которые могут иметь место в процессе исполнения сторонами настоящего Договора, стороны разрешают путем переговоров, а при невозможности достижения согласия суде г. Москвы.</p>
    <p class="contract-p">8.2. По взаимному согласованию сторон для разрешения возникших споров и разногласий, в качестве третьих лиц, могут быть привлечены представители компетентных организаций, разъяснения которых по спорным вопросам могут быть признаны сторонами исчерпывающими. Расходы по привлечению таких лиц для разрешения спорных вопросов несет сторона, доводы которой будут признаны неверными.</p>
    <p class="contract-top-level">9. Срок действия и порядок расторжения Договора.</p>
    <p class="contract-p">9.1. Досрочное расторжение настоящего Договора может иметь место по взаимному письменному соглашению сторон на условиях, предусмотренным действующим законодательством РФ.</p>
    <p class="contract-p">9.2. Подрядчик вправе расторгнуть Договор в одностороннем порядке, в случае остановки Заказчиком выполнения работ по настоящему Договору по причинам, не зависящим от Подрядчика, на срок более 7 календарных дней.</p>
    <p class="contract-p">9.3. Сторона, решившая расторгнуть Договор по основаниям, предусмотренным п.п.9.1-9.4., обязана направить другой стороне соответствующее письменное уведомление.</p>
    <p class="contract-p">9.4. В случае расторжения Договора по основаниям, предусмотренным п.п. 9.3 и 9.4, каждая из сторон должна компенсировать другой стороне все фактические произведенные в связи с выполнением обязательств по настоящему Договору затраты, в том числе возвратить денежные средства.</p>
    <p class="contract-top-level">10. Прочие условия.</p>
    <p class="contract-p">10.1. После подписания настоящего Договора все предыдущие письменные и устные соглашения, переписка, переговоры между сторонами, относящиеся к данному Договору, теряют силу.</p>
    <p class="contract-p">10.2. Настоящий Договор может быть изменен или дополнен. Любые изменения и дополнения настоящего Договора имеют силу только в том случае, если они согласованы сторонами и оформлены в письменном виде.</p>
    <p class="contract-p">10.3. В процессе действия настоящего Договора стороны руководствуются законодательством РФ и Московской области. Стороны обязаны письменно уведомлять друг друга об изменениях законодательства, которые могут существенно повлиять на выполнение условий настоящего Договора.</p>
    <p class="contract-p">10.4. Настоящий Договор составлен в двух экземплярах, причем оба экземпляра имеют одинаковую юридическую силу.</p>
</div>

<p>Приложения:</p>
<ol class="contract-bold">
    <li><span class="contract-li-span">Приложение № 1 Сметный расчет</span></li>
    <li><span class="contract-li-span">Приложение № 2 Проект производственных работ</span></li>
    <li><span class="contract-li-span">Приложение № 3 Акт выполненных работ</span></li>
    <li><span class="contract-li-span">Приложение № 4 Акта приема-сдачи работ</span></li>
</ol>
<p class="contract-top-level">12. Юридические адреса и реквизиты сторон.</p>
<table class="contract-table contract-bold">
    <tr>
        <td>Подрядчик</td>
        <td>Заказчик</td>
    </tr>
    <tr>
        <td>
            ООО «Престиж» 115230,<br />
            г. Москва, Каширское ш. дом 13Б,<br />
            8 этаж комната 22 пом. 1<br />
            ИНН: 7735581756<br />
            КПП: 772401001<br />
            Р/С: 40702810810000514740,<br />
            Банк: АО "ТИНЬКОФФ БАНК",<br />
            К/с 30101810145250000974<br />
            БИК: 044525974.<br />
            Тел.: +7 9637773577<br />
            E-mail: info@bath-dream.ru
        </td>
        <td>
            @Model.FIO<br />
            Паспорт: @Model.PasportSerial @Model.PasportNumber<br />
            Выдан: @Model.PasportIssued<br />
            Дата выдачи: @Model.PasportDate<br />
            Адрес регистрации: @Model.PasportAddress<br />
            Тел.: @Model.CustomerPhone<br />
            E-mail: @Model.CustomerEmail
        </td>
    </tr>
    <tr>
        <td>М.П. ______________ Захаревич Д.Б.</td>
        <td>М.П. __________________ </td>
    </tr>
</table>

@if (!@Model.Signed)
{
    <a class="btn btn-success" asp-page-handler="Sign">Подписать</a>
}

<!-- 1 ищем оплаты -->

@if (Model.Payment == null)
{
    <a class="btn btn-success" asp-page-handler="Payment" asp-route-orderId="@Model.OrderNumber">Оплатить аванс 10%</a>
}
else
{
    <!-- Цикл по всем оплатам. Все по DB -->
    <!-- Проверяем статусы. Если статус оплачен - все ок -->
    <!-- Если статус не оплачен -->

    if (Model.PaymentHandler.OnPaid(Model.Payment.PaymentId, out string status))
    {
        <label>Заказ оплачен</label>
    }
    else
    {
        <label>@status</label>
    }
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    $(function () {
        window.setTimeout(function () {
            $('#my-alert').alert('close');
        }, 5000);
    });
</script>