@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using BathDream.Models
@model BathDream.Pages.Account.CustomerModel.InputModel
@{
}

<br />
@if (Model.Display)
{

    string sub_caption = "";
<div class="col-xs-12" style="padding: 5px">

    <div class="col-xs-6">
        <img alt="Brand" src="~/img/logo.png">

    </div>
    <div class="col-xs-6" style="text-align:left">
        <p>
            <b>
                Приложение № 1<br />
                К договору № @Model.OrderNumber от @Model.OrderDate<br />
                Адрес объекта: @Model.OrderAddress<br />
                Сметный расчет: @Model.OrderNumber
            </b>
        </p>

    </div>

    <hr class="col-xs-12" />

    <div class="col-xs-12" style="text-align:center">
        <p><span style="font-size: xx-large;">Смета</span><br /><b>на выполнение ремонтно-отдельчных работ</b></p>


    </div>







    <p style="text-align:center">Помещения</p>

    <div class="table-responsive">
        <table class="table table-bordered table-hover table-condensed">
            <tr class="success">
                <th>Помещение</th>
                @foreach (Room room in @Model.Rooms)
                {
                    <th style="text-align: center;">@room.Name</th>
                }
            </tr>
            <tr>
                <td>Размеры</td>
                @foreach (Room room in @Model.Rooms)
                {
                    <td style="text-align: center;">@room.Width x @room.Length x @room.Height мм</td>
                }
            </tr>
            <tr>
                <td>Пол</td>
                @foreach (Room room in @Model.Rooms)
                {
                    <td style="text-align: center;">@room.FloorArea() кв.м</td>
                }
            </tr>
            <tr>
                <td>Стены</td>
                @foreach (Room room in @Model.Rooms)
                {
                    <td style="text-align: center;">@room.WallsArea() кв.м</td>
                }
            </tr>
            <tr>
                <td>Потолок</td>
                @foreach (Room room in @Model.Rooms)
                {
                    <td style="text-align: center;">@room.CeilingArea() кв.м</td>
                }
            </tr>
            <tr>
                <td>Дверь</td>
                @foreach (Room room in @Model.Rooms)
                {
                    <td style="text-align: center;">@room.DoorArea() кв.м</td>
                }
            </tr>
            <tr></tr>
        </table>
    </div>


    <p style="text-align:center">Работы</p>
    <div class="table-responsive">
        <table class="table table-bordered table-hover table-condensed">
            <tr class="success">
                <th style="text-align: center;">№ п/п</th>
                <th style="text-align: center;">Тип</th>
                <th style="text-align: center;">Наименование</th>
                <th style="text-align: center;">Ед.изм</th>
                <th style="text-align: center;">Цена</th>
                <th style="text-align: center;">Кол-во</th>
                <th style="text-align: center;">Сумма</th>
            </tr>

            @foreach (Work work in @Model.Works)
            {
                @if (sub_caption != work.Group)
                {
                    sub_caption = work.Group;
                    <tr>
                        <td colspan="7" class="info" style="text-align: center;"><b>@sub_caption</b></td>
                    </tr>
                }
                <tr>
                    <td style="text-align: center;">@work.Position</td>
                    <td>@work.FirstWord</td>
                    <td>@work.WithoutFirstWord</td>
                    <td style="text-align: center;">@work.WorkPrice.Unit</td>
                    <td style="text-align: right;">
                        @if (work.Price == 0.0)
                        {<span>30% от стоимости</span> }
                        else
                            @work.Price.ToString("# ##0")
                    </td>
                    <td style="text-align: center;">@work.Volume</td>
                    <td style="text-align: right;">@work.Total.ToString("# ##0.00")</td>
                </tr>
            }
        </table>
    </div>
    <h2 style="text-align: right;">Итого: @Model.Total.ToString("# ##0.00")</h2>
    @if (!@Model.Signed)
    {
        <a class="btn btn-success" asp-page-handler="Contract">Подписать</a>
    }
</div>
<div>
    <p style="text-align:center"><span style="font-size: large;">График работ</span></p>
    @{
        int totalTime = Model.UniqueWorks.Sum(w => w.WorkType.Time);
        int count = 0;
    }
    <table class="table table-bordered table-hover table-condensed">
        <tr>
            <th>
                Наименование работ
            </th>
            @for (int i = 1; i <= totalTime; i++)
            {
                <th>
                    @i день
                </th>
            }
        </tr>
        @foreach (var item in Model.UniqueWorks)
        {
            <tr>
                <td>@item.WorkType.Name</td>
                @for (int i = 0; i < count; i++)
                {
                    <td></td>
                }
                <td colspan="@item.WorkType.Time" style="background: #263e44;"></td>
                @for (int i = 0; i < totalTime - item.WorkType.Time - count; i++)
                {
                    <td></td>
                }
                @{ 
                    count += item.WorkType.Time;
                 }
            </tr>
                    }
    </table>
</div>
}
