@model BathDream.Pages.Account.CustomerModel.InputModel
@{
}

<form method="post" asp-page-handler="Material">
    @foreach (var invoice in Model.Invoices)
    {
        <p style="text-align:center">Материалы №@invoice.Id</p>
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-condensed">
                <tr class="success">
                    <th style="text-align: center;">Наименование</th>
                    <th style="text-align: center;">Ед.изм</th>
                    <th style="text-align: center;">Цена</th>
                    <th style="text-align: center;">Кол-во</th>
                    <th style="text-align: center;">Сумма</th>
                </tr>
                @foreach (var material in invoice.Materials)
                {
                    double sum = material.Count * material.Price;
                    <tr>
                        <td>@material.Name</td>
                        <td>@material.Unit</td>
                        <td>@material.Price</td>
                        <td>@material.Count</td>
                        <td>@sum</td>
                    </tr>
                }
            </table>
            <div style="text-align: right;">@invoice.Materials.Sum(x => x.Price * x.Count).ToString("# ##0.00")</div>
        </div>
        if (invoice.StatusPayment == "2")
        {
            <label>Заказ оплачен</label>
        }
        else
        {
            <button type="submit" asp-page-handler="Material" asp-route-id="@invoice.Id" asp-route-total="@invoice.Materials.Sum(x => x.Price * x.Count)" class="btn btn-success">Оплатить</button>
        }
    }
</form>
