@page
@model BathDream.Pages.BriefModel
@{
    ViewData["Title"] = "Бриф";
}

@section MainMenu
{
    <partial name="MainMenu" model="null" />
}



<br />
<br />

<h3>Заполните бриф для создания проекта от нашего Архитектора</h3>
<form method="post">
    <div id="page1" style="display: block;">
        <input type="hidden" asp-for="@Model.OrderId" />
        <p><b>1. Выберите стиль дизайна (или несколько)</b></p>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3" style="width: 70%" name="adaptiveImage">
                    <span class="radio-inline">
                        <input id="1" asp-for="@Model.Input.DesignStyle[0].IsSelect" type="checkbox" />
                        <input asp-for="@Model.Input.DesignStyle[0].Name" hidden value="Классика" />
                        Классика
                    </span>
                    <img name="1" alt="Brand" src="img/brief/styles/classic/12168d27aee173956409b7b163783c32.jpg" onclick="ClickToCheck(this)" />
                    <hr />
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3" style="width: 70%" name="adaptiveImage">
                    <span class="radio-inline">
                        <input id="2" asp-for="Input.DesignStyle[1].IsSelect" type="checkbox" />
                        <input asp-for="Input.DesignStyle[1].Name" hidden value="Модерн" />
                        Модерн
                    </span>
                    <img name="2" alt="Brand" src="img/brief/styles/modern/1584444667_23-p-vannie-komnati-v-stile-khai-tek-33.jpg" onclick="ClickToCheck(this)" />
                    <hr />
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3" style="width: 70%" name="adaptiveImage">
                    <span class="radio-inline">
                        <input id="3" asp-for="Input.DesignStyle[2].IsSelect" type="checkbox" />
                        <input asp-for="Input.DesignStyle[2].Name" hidden value="Хайтек" />
                        Хайтек
                    </span>
                    <img name="3" alt="Brand" src="img/brief/styles/high-tech/7.jpg" onclick="ClickToCheck(this)" />
                    <hr />
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3" style="width: 70%" name="adaptiveImage">
                    <span class="radio-inline">
                        <input id="4" asp-for="Input.DesignStyle[3].IsSelect" type="checkbox" />
                        <input asp-for="Input.DesignStyle[3].Name" hidden value="Прованс" />
                        Прованс
                    </span>
                    <img name="4" alt="Brand" src="img/brief/styles/provence/5-117.jpg" onclick="ClickToCheck(this)" />
                    <hr />
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3" style="width: 70%" name="adaptiveImage">
                    <span class="radio-inline">
                        <input id="5" asp-for="Input.DesignStyle[4].IsSelect" type="checkbox" />
                        <input asp-for="Input.DesignStyle[4].Name" hidden value="Кантри" />
                        Кантри
                    </span>
                    <img name="5" alt="Brand" src="img/brief/styles/country/vannaya-komnata-v-stile-kantri2.jpg" onclick="ClickToCheck(this)" />
                    <hr />
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3" style="width: 70%" name="adaptiveImage">
                    <span class="radio-inline">
                        <input id="6" asp-for="Input.DesignStyle[5].IsSelect" type="checkbox" />
                        <input asp-for="Input.DesignStyle[5].Name" hidden value="Лофт" />
                        Лофт
                    </span>
                    <br />
                    <img name="6" alt="Brand" src="img/brief/styles/loft/1582558011_47-p-vannie-v-stile-loft-64.jpg" onclick="ClickToCheck(this)" />
                </div>
            </div>
        </div>
        <hr />
        <button type="button" class="btn btn-success" onclick="
            document.getElementById('page1').style.display = 'none';
            document.getElementById('page10').style.display = 'block';
            window.scrollTo(0, 0);
        ">
            Далее
        </button>
    </div>
    <div id="page2" style="display: none;">
        <p><b>2. Выберите пол</b></p>
        <p>
            Веберите цветовую гамму:
            <select asp-for="Input.FloorColor" class="form-control">
                @foreach (var color in Model.TileColors)
                {
                    @if (color.CodeText != null)
                    {
                        <option style="background: @color.CodeBackground; color: @color.CodeText;">@color.Name</option>
                    }
                    else
                    {
                        <option style="background: @color.CodeBackground; color: #000000">@color.Name</option>
                    }
                }
            </select>
        </p>
        <p>
            Выбирете бюджет плитки за м&sup2; в руб.:
            <select asp-for="Input.FloorTileBudget" class="form-control">
                <option>500 - 1 000</option>
                <option>1 000 - 5 000</option>
                <option>5 000 - 10 000</option>
                <option>10 000 - 20 000</option>
                <option>20 000 - 30 000</option>
                <option>30 000 - 40 000</option>
                <option>40 000 - 50 000</option>
                <option>50 000 - 60 000</option>
                <option>60 000 - 70 000</option>
                <option>70 000 - 80 000</option>
                <option>80 000 - 90 000</option>
                <option>90 000 - 100 000</option>
                <option>100 000 - ...</option>
            </select>
        </p>
        <hr />
        <button type="button" class="btn btn-success" onclick="
            document.getElementById('page2').style.display = 'none';
            document.getElementById('page3').style.display = 'block';
            window.scrollTo(0, 0);
        ">
            Далее
        </button>
    </div>
    <div id="page3" style="display: none;">
        <p><b>2. Выберите пол</b></p>
        <p><b>Укладка плитки</b></p>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3" style="width: 70%" name="adaptiveImage">
                    <span class="radio-inline">
                        <input id="floorTileDiagonal" asp-for="Input.FloorLayingTilesType" type="radio" value="По диагонали" checked />
                        По диагонали
                    </span>
                    <img alt="Brand" src="img/brief/other/по диагонали.jpg" name="floorTileDiagonal" onclick="ClickToCheck(this)" />
                    <hr />
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3" style="width: 70%" name="adaptiveImage">
                    <span class="radio-inline">
                        <input id="floorTileLine" asp-for="Input.FloorLayingTilesType" type="radio" value="Линейно" />
                        Линейно
                    </span>
                    <img alt="Brand" src="img/brief/other/вертикаль укладка.jpg" name="floorTileLine" onclick="ClickToCheck(this)" />
                </div>
            </div>
        </div>
        <hr />
        <button type="button" class="btn btn-success" onclick="
            document.getElementById('page3').style.display = 'none';
            document.getElementById('page4').style.display = 'block';
            window.scrollTo(0, 0);
        ">
            Далее
        </button>
    </div>
    <div id="page4" style="display: none;">
        <p><b>2. Выберите пол</b></p>
        <p><b>Размер плитки</b></p>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3" style="width: 70%" name="adaptiveImage">
                    <span class="radio-inline">
                        <input id="floorTileWide" asp-for="Input.FloorTileSize1" type="checkbox" />
                        Широкоформатная
                    </span>
                    <img alt="Brand" src="img/brief/other/Широформатная плитка.jpg" name="floorTileWide" onclick="ClickToCheck(this)" />
                    <hr />
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3" style="width: 70%" name="adaptiveImage">
                    <span class="radio-inline">
                        <input id="floorTileSmall" asp-for="Input.FloorTileSize2" type="checkbox" />
                        Мелкоформатная
                    </span>
                    <img alt="Brand" src="img/brief/other/мелкоформатная плитка 1.jpg" name="floorTileSmall" onclick="ClickToCheck(this)" />
                    <hr />
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3" style="width: 70%" name="adaptiveImage">
                    <span class="radio-inline">
                        <input id="floorTileDecor" asp-for="Input.FloorTileSize3" type="checkbox" />
                        С добавлением декора
                    </span>
                    <img alt="Brand" src="img/brief/other/С добавлением декора.jpg" name="floorTileDecor" onclick="ClickToCheck(this)" />
                </div>
            </div>
        </div>
        <hr />
        <button type="button" class="btn btn-success" onclick="
            document.getElementById('page4').style.display = 'none';
            document.getElementById('page5').style.display = 'block';
            window.scrollTo(0, 0);
        ">
            Далее
        </button>
    </div>
    <div id="page5" style="display: none;">
        <p><b>2. Выберите стены</b></p>
        <p>
            Веберите цветовую гамму:
            <select asp-for="Input.WallColor" class="form-control">
                @foreach (var color in Model.TileColors)
                {
                    @if (color.CodeText != null)
                    {
                        <option style="background: @color.CodeBackground; color: @color.CodeText;">@color.Name</option>
                    }
                    else
                    {
                        <option style="background: @color.CodeBackground; color: #000000">@color.Name</option>
                    }
                }
            </select>
        </p>
        <p>
            Выбирете бюджет плитки за м&sup2; в руб.:
            <select asp-for="Input.WallTileBudget" class="form-control">
                <option>500 - 1 000</option>
                <option>1 000 - 5 000</option>
                <option>5 000 - 10 000</option>
                <option>10 000 - 20 000</option>
                <option>20 000 - 30 000</option>
                <option>30 000 - 40 000</option>
                <option>40 000 - 50 000</option>
                <option>50 000 - 60 000</option>
                <option>60 000 - 70 000</option>
                <option>70 000 - 80 000</option>
                <option>80 000 - 90 000</option>
                <option>90 000 - 100 000</option>
                <option>100 000 - ...</option>
            </select>
        </p>
        <hr />
        <button type="button" class="btn btn-success" onclick="
            document.getElementById('page5').style.display = 'none';
            document.getElementById('page6').style.display = 'block';
            window.scrollTo(0, 0);
        ">
            Далее
        </button>
    </div>
    <div id="page6" style="display: none;">
        <p><b>2. Выберите стены</b></p>
        <p><b>Укладка плитки</b></p>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3" style="width: 70%" name="adaptiveImage">
                    <span class="radio-inline">
                        <input id="wallTileDiagonal" asp-for="Input.WallLayingTilesType" type="radio" value="По диагонали" checked />
                        По диагонали
                    </span>
                    <img alt="Brand" src="img/brief/other/по диагонали.jpg" name="wallTileDiagonal" onclick="ClickToCheck(this)" />
                    <hr />
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3" style="width: 70%" name="adaptiveImage">
                    <span class="radio-inline">
                        <input id="wallTileLine" asp-for="Input.WallLayingTilesType" type="radio" value="Линейно" />
                        Линейно
                    </span>
                    <img alt="Brand" src="img/brief/other/вертикаль укладка.jpg" name="wallTileLine" onclick="ClickToCheck(this)" />
                </div>
            </div>
        </div>
        <hr />
        <button type="button" class="btn btn-success" onclick="
            document.getElementById('page6').style.display = 'none';
            document.getElementById('page7').style.display = 'block';
            window.scrollTo(0, 0);
        ">
            Далее
        </button>
    </div>
    <div id="page7" style="display: none;">
        <p><b>2. Выберите стены</b></p>
        <p><b>Размер плитки</b></p>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3" style="width: 70%" name="adaptiveImage">
                    <span class="radio-inline">
                        <input id="wallTileWide" asp-for="Input.WallTileSize1" type="checkbox" />
                        Широкоформатная
                    </span>
                    <img alt="Brand" src="img/brief/other/Широформатная плитка.jpg" name="wallTileWide" onclick="ClickToCheck(this)" />
                    <hr />
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3" style="width: 70%" name="adaptiveImage">
                    <span class="radio-inline">
                        <input id="wallTileSmall" asp-for="Input.WallTileSize2" type="checkbox" />
                        Мелкоформатная
                    </span>
                    <img alt="Brand" src="img/brief/other/мелкоформатная плитка 1.jpg" name="wallTileSmall" onclick="ClickToCheck(this)" />
                    <hr />
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3" style="width: 70%" name="adaptiveImage">
                    <span class="radio-inline">
                        <input id="wallTileDecor" asp-for="Input.WallTileSize3" type="checkbox" />
                        С добавлением декора
                    </span>
                    <img alt="Brand" src="img/brief/other/С добавлением декора.jpg" name="wallTileDecor" onclick="ClickToCheck(this)" />
                </div>
            </div>
        </div>
        <hr />
        <button type="button" class="btn btn-success" onclick="
            document.getElementById('page7').style.display = 'none';
            document.getElementById('page8').style.display = 'block';
            window.scrollTo(0, 0);
        ">
            Далее
        </button>
    </div>
    <div id="page8" style="display: none;">
        <p><b>2. Выберите стены</b></p>
        <p><b>Какие углы на плитке</b></p>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3" style="width: 40%" name="tileAngle">
                    <span class="radio-inline">
                        <input id="tileLayout" asp-for="Input.WallTileAngular" type="radio" value="Раскладка под плитку" checked />
                        Раскладка под плитку
                    </span>
                    <img alt="Brand" src="img/brief/other/раскладка.jpg" name="tileLayout" onclick="ClickToCheck(this)" />
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3" style="width: 40%" name="tileAngle">
                    <span class="radio-inline">
                        <input id="tileAngle45" asp-for="Input.WallTileAngular" type="radio" value="Угол 90 запиленной плитки" />
                        Угол 45&deg; запиленной плитки
                    </span>
                    <img alt="Brand" src="img/brief/other/Запил 45 градусов.jpg" name="tileAngle45" onclick="ClickToCheck(this)" />
                </div>
            </div>
        </div>
        <hr />
        <button type="button" class="btn btn-success" onclick="
            document.getElementById('page8').style.display = 'none';
            document.getElementById('page9').style.display = 'block';
            window.scrollTo(0, 0);
        ">
            Далее
        </button>
    </div>
    <div id="page9" style="display: none;">
        <p><b>3. Электрика</b></p>
        <p><a href="http://www.google.com" target="_blank" class="btn btn-success">Выбор электрики</a></p>

        <textarea asp-for="Input.Electric" class="form-control"></textarea>
        <hr />
        <button type="button" class="btn btn-success" onclick="
            document.getElementById('page9').style.display = 'none';
            document.getElementById('page10').style.display = 'block';
            window.scrollTo(0, 0);
        ">
            Далее
        </button>
    </div>
    <div id="page10" style="display: none;">
        <p><b>4. Сантехника</b></p>
        <table id="santex" class="table table-hover table-condensed table-responsive">
            <tr>
                @*<th class="col-md-1">Наименование</th>
                <th class="col-md-1">Количество</th>
                <th class="col-md-2">Бюджет</th>
                <th class="col-md-8">Варианты стиля</th>*@
            </tr>
            @foreach (var item in Model.SantechItems)
            {
                <tr style="">
                    <td name="Td" style="">
                        <input hidden name="name" value="@item.Name" />
                        <label name="name">@item.Name</label>

                        <input hidden name="amount" value="@item.Amount" />
                        <label name="amount">@item.Amount</label>

                        <select name="budget" class="form-control">
                            @foreach (var price in item.Prices)
                            {
                                <option>@price</option>
                            }
                        </select>

                        <div class="container-fluid">
                            <div class="row">
                                @{
                                    bool IsCheked = true;

                                    @foreach (var c_item in item.ChoiseItems)
                                    {
                                        string style_name = $"style-{item.Name}";
                                        <div class="col-md-4" style="width:100%" name="adaptiveSantechImage">
                                            @if (c_item.IsRadio)
                                            {
                                                <span class="radio-inline">
                                                    @if (IsCheked)
                                                    {
                                                        <input id="@c_item.Img" type="radio" name="@style_name" value="@c_item.Text" checked />
                                                        IsCheked = false;
                                                    }
                                                    else
                                                    {
                                                        <input id="@c_item.Img" type="radio" name="@style_name" value="@c_item.Text" />
                                                    }
                                                    @c_item.Text
                                                </span>
                                            }
                                            <br />
                                            <img alt="Brand" src="@c_item.Img" style="width:100%" name="@c_item.Img" onclick="ClickToCheck(this)" />
                                            <hr />
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </table>
        <button type="submit" class="btn btn-success">Отправить</button>
    </div>
</form>
<tr />
<p> </p>

<script>
    //
    function ClickToCheck(e){
        var eName = e.name;
        var checkbox = document.getElementById(eName);
        if (checkbox.type == "radio") {
            if (checkbox.checked == false) checkbox.checked = true;
        }
        if (checkbox.type == "checkbox") {
            if (checkbox.checked == true) checkbox.checked = false;
            else if (checkbox.checked == false) checkbox.checked = true;
        }
    }



    window.addEventListener("resize", AutoScale); //Масштабируем страницу при растягивании окна

    AutoScale(); //Масштабируем страницу после загрузки

    function AutoScale() {
        var elements = document.getElementsByName("adaptiveImage");
        var tileAngle = document.getElementsByName("tileAngle");
        var adaptiveSantechImage = document.getElementsByName("adaptiveSantechImage");

        for (var i = 0; i < elements.length; i++) {
            let width = window.innerWidth; //Ширина окна
            //Если вы хотите проверять по размеру экрана, то вам нужно свойство window.screen.width

            if (width > 1280) {
                elements[i].style.cssText = "width: 80%";           
            }
            else if (width < 720) {
                elements[i].style.cssText = "width: 100%";
            }
        }
        for (var i = 0; i < tileAngle.length; i++) {
            let width = window.innerWidth; //Ширина окна
            //Если вы хотите проверять по размеру экрана, то вам нужно свойство window.screen.width

            if (width > 1280) {
                tileAngle[i].style.cssText = "width: 40%";
            }
            else if (width < 720) {

                tileAngle[i].style.cssText = "width: 100%";
            }
        }
        for (var i = 0; i < adaptiveSantechImage.length; i++) {
            let width = window.innerWidth; //Ширина окна
            //Если вы хотите проверять по размеру экрана, то вам нужно свойство window.screen.width

            if (width > 1280) {
                adaptiveSantechImage[i].style.cssText = "width: 60%";
            }
            else if (width < 720) {

                adaptiveSantechImage[i].style.cssText = "width: 100%";
            }
        }



        //var row = document.getElementsByName("row");
        //var Td = document.getElementsByName("Td");
        //var lastTd = document.getElementsByName("lastTd");

        //for (var i = 0; i < row.length; i++) {
        //    let width = window.innerWidth; //Ширина окна
        //    if (width > 1280) {
        //        row[i].style.cssText = "";
        //    }
        //    else if (width < 720) {
        //        row[i].style.cssText = "white-space: nowrap;";
        //    }
        //}

        //for (var i = 0; i < Td.length; i++) {
        //    let width = window.innerWidth; //Ширина окна
        //    if (width > 1280) {
        //        Td[i].style.cssText = "";
        //    }
        //    else if (width < 720) {
        //        Td[i].style.cssText = "display: inline-block;";
        //    }
        //}

        //for (var i = 0; i < lastTd.length; i++) {
        //    let width = window.innerWidth; //Ширина окна
        //    if (width > 1280) {
        //        lastTd[i].style.cssText = "";
        //    }
        //    else if (width < 720) {
        //        lastTd[i].style.cssText = "display: block";
        //        lastTd[i].width = 350;
        //    }
        //}
    }

</script>