@page
@model BathDream.Pages.BriefModel
@{
    ViewData["Title"] = "Бриф";
}

@section MainMenu
{
    <partial name="MainMenu" model="null" />
}



<br />
<br />

<h3>Заполните бриф для создания проекта от нашего Архитектора</h3>
<form method="post">
    <div id="page1" style="display: block;">
        <input type="hidden" asp-for="@Model.OrderId" />
        <p><b>1. Выберите стиль дизайна</b></p>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
                    <span class="radio-inline">
                        <input asp-for="Input.DesignStyle" type="radio" value="Классика" checked />
                        Классика
                    </span>
                    <img alt="Brand" src="img/Bath.jpg" />
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
                    <span class="radio-inline">
                        <input asp-for="Input.DesignStyle" type="radio" value="Модерн" />
                        Модерн
                    </span>
                    <img alt="Brand" src="img/Bath.jpg" />
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
                    <span class="radio-inline">
                        <input asp-for="Input.DesignStyle" type="radio" value="Хайтек" />
                        Хайтек
                    </span>
                    <img alt="Brand" src="img/Bath.jpg" />
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
                    <span class="radio-inline">
                        <input asp-for="Input.DesignStyle" type="radio" value="Прованс" />
                        Прованс
                    </span>
                    <img alt="Brand" src="img/Bath.jpg" />
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
                    <span class="radio-inline">
                        <input asp-for="Input.DesignStyle" type="radio" value="Кантри" />
                        Кантри
                    </span>
                    <img alt="Brand" src="img/Bath.jpg" />
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
                    <span class="radio-inline">
                        <input asp-for="Input.DesignStyle" type="radio" value="Лофт" />
                        Лофт
                    </span>
                    <img alt="Brand" src="img/Bath.jpg" />
                </div>
            </div>
        </div>
        <hr />
        <button type="button" class="btn btn-success" onclick="
            document.getElementById('page1').style.display = 'none';
            document.getElementById('page2').style.display = 'block';
            window.scrollTo(0, 0);
        ">Далее</button>
    </div>
    <div id="page2" style="display: none;">
        <p><b>2. Выберите пол</b></p>
        <p>
            Веберите цветовую гамму:
            <select asp-for="Input.FloorColor" class="form-control">
                @foreach (var color in Model.TileColors)
                {
                    <option>@color</option>
                }
            </select>
        </p>
        <p>
            Выбирете бюджет плитки за м&sup2; в руб.:
            <select asp-for="Input.FloorTileBudget" class="form-control">
                <option>1 000 - 10 000</option>
                <option>10 000 - 20 000</option>
                <option>20 000 - 30 000</option>
                <option>30 000 - 40 000</option>
                <option>40 000 - 50 000</option>
                <option>50 000 - 60 000</option>
                <option>60 000 - 70 000</option>
                <option>70 000 - 80 000</option>
                <option>80 000 - 90 000</option>
                <option>90 000 - 100 000</option>
                <option>100 000 - ...</option>
            </select>
        </p>
        <p><b>Укладка плитки</b></p>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
                    <span class="radio-inline">
                        <input asp-for="Input.FloorLayingTilesType" type="radio" value="По диагонали" checked />
                        По диагонали
                    </span>
                    <img alt="Brand" src="img/Bath.jpg" />
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
                    <span class="radio-inline">
                        <input asp-for="Input.FloorLayingTilesType" type="radio" value="Линейно" />
                        Линейно
                    </span>
                    <img alt="Brand" src="img/Bath.jpg" />
                </div>
            </div>
        </div>
        <hr />
        <p><b>Размер плитки</b></p>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
                    <span class="radio-inline">
                        <input asp-for="Input.FloorTileSize1" type="checkbox" />
                        Широкоформатная
                    </span>
                    <img alt="Brand" src="img/Bath.jpg" />
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
                    <span class="radio-inline">
                        <input asp-for="Input.FloorTileSize2" type="checkbox" />
                        Мелкоформатная
                    </span>
                    <img alt="Brand" src="img/Bath.jpg" />
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
                    <span class="radio-inline">
                        <input asp-for="Input.FloorTileSize3" type="checkbox" />
                        С добавлением декора
                    </span>
                    <img alt="Brand" src="img/Bath.jpg" />
                </div>
            </div>
        </div>
        <hr />
        <button type="button" class="btn btn-success" onclick="
            document.getElementById('page2').style.display = 'none';
            document.getElementById('page3').style.display = 'block';
            window.scrollTo(0, 0);
        ">Далее</button>
    </div>
    <div id="page3" style="display: none;">
        <p><b>2. Выберите стены</b></p>
        <p>
            Веберите цветовую гамму:
            <select asp-for="Input.WallColor" class="form-control">
                @foreach (var color in Model.TileColors)
                {
                    <option>@color</option>
                }
            </select>
        </p>
        <p>
            Выбирете бюджет плитки за м&sup2; в руб.:
            <select asp-for="Input.WallTileBudget" class="form-control">
                <option>1 000 - 10 000</option>
                <option>10 000 - 20 000</option>
                <option>20 000 - 30 000</option>
                <option>30 000 - 40 000</option>
                <option>40 000 - 50 000</option>
                <option>50 000 - 60 000</option>
                <option>60 000 - 70 000</option>
                <option>70 000 - 80 000</option>
                <option>80 000 - 90 000</option>
                <option>90 000 - 100 000</option>
                <option>100 000 - ...</option>
            </select>
        </p>
        <p><b>Укладка плитки</b></p>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
                    <span class="radio-inline">
                        <input asp-for="Input.WallLayingTilesType" type="radio" value="По диагонали" checked />
                        По диагонали
                    </span>
                    <img alt="Brand" src="img/Bath.jpg" />
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
                    <span class="radio-inline">
                        <input asp-for="Input.WallLayingTilesType" type="radio" value="Линейно" />
                        Линейно
                    </span>
                    <img alt="Brand" src="img/Bath.jpg" />
                </div>
            </div>
        </div>
        <hr />
        <p><b>Размер плитки</b></p>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
                    <span class="radio-inline">
                        <input asp-for="Input.WallTileSize1" type="checkbox" />
                        Широкоформатная
                    </span>
                    <img alt="Brand" src="img/Bath.jpg" />
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
                    <span class="radio-inline">
                        <input asp-for="Input.WallTileSize2" type="checkbox" />
                        Мелкоформатная
                    </span>
                    <img alt="Brand" src="img/Bath.jpg" />
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
                    <span class="radio-inline">
                        <input asp-for="Input.WallTileSize3" type="checkbox" />
                        С добавлением декора
                    </span>
                    <img alt="Brand" src="img/Bath.jpg" />
                </div>
            </div>
        </div>
        <hr />
        <p><b>Какие углы на плитке</b></p>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
                    <span class="radio-inline">
                        <input asp-for="Input.WallTileAngular" type="radio" value="Раскладка под плитку" checked />
                        Раскладка под плитку
                    </span>
                    <img alt="Brand" src="img/Bath.jpg" />
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
                    <span class="radio-inline">
                        <input asp-for="Input.WallTileAngular" type="radio" value="Угол 90 запиленной плитки" />
                        Угол 90&deg; запиленной плитки
                    </span>
                    <img alt="Brand" src="img/Bath.jpg" />
                </div>
            </div>
        </div>
        <hr />
        <button type="button" class="btn btn-success" onclick="
            document.getElementById('page3').style.display = 'none';
            document.getElementById('page4').style.display = 'block';
            window.scrollTo(0, 0);
        ">Далее</button>
    </div>
    <div id="page4" style="display: none;">
        <p><b>3. Электрика</b></p>
        <p><a href="http://www.google.com" target="_blank" class="btn btn-success">Выбор электрики</a></p>

        <textarea asp-for="Input.Electric" class="form-control"></textarea>
        <hr />

        <p><b>4. Сантехника</b></p>
        <table id="santex" class="table table-hover table-condensed table-responsive">
            <tr>
                <th class="col-md-1">Наименование</th>
                <th class="col-md-1">Количество</th>
                <th class="col-md-2">Бюджет</th>
                <th class="col-md-8">Варианты стиля</th>
            </tr>
            @foreach (var item in Model.SantechItems)
            {
                <tr>
                    <td>
                        <input hidden name="name" value="@item.Name" />
                        <label name="name">@item.Name</label>
                    </td>
                    <td>
                        <input hidden name="amount" value="@item.Amount" />
                        <label name="amount">@item.Amount</label>
                    </td>
                    <td>
                        <select name="budget" class="form-control">
                            @foreach (var price in item.Prices)
                            {
                                <option>@price</option>
                            }
                        </select>
                    </td>
                    <td>
                        <div class="container-fluid">
                            <div class="row">
                                @{
                                    bool IsCheked = true;

                                    @foreach (var c_item in item.ChoiseItems)
                                    {
                                        string style_name = $"style-{item.Name}";
                                        <div class="col-md-4">
                                            @if (c_item.IsRadio)
                                            {
                                                <span class="radio-inline">
                                                    @if (IsCheked)
                                                    {
                                                        <input type="radio" name="@style_name" value="@c_item.Text" checked />
                                                        IsCheked = false;
                                                    }
                                                    else
                                                    {
                                                        <input type="radio" name="@style_name" value="@c_item.Text" />
                                                    }
                                                    @c_item.Text
                                                </span>
                                            }
                                            <img alt="Brand" src="@c_item.Img" />
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </table>
        <button type="submit" class="btn btn-success">Отправить</button>
    </div> 
</form>
<tr />
<p> </p>