@page
@model IndexModel
@{
    ViewBag.Title = "Формирование заказов";

    List<SelectListItem> ObjectTypeList = new List<SelectListItem>()
{
        new SelectListItem()
        {
            Text = "Новостройка",
            Value = "Новостройка"
        },
        new SelectListItem()
        {
            Text = "Вторичка",
            Value = "Вторичка"
        },
        new SelectListItem()
        {
            Text = "Дом",
            Value = "Дом"
        }
    };

    List<SelectListItem> FloorTypeList = new List<SelectListItem>()
{
        new SelectListItem()
        {
            Text = "Плитка",
            Value = "Плитка"
        },
        new SelectListItem()
        {
            Text = "Нет",
            Value = "Нет",
            Selected = true
        },
    };

    List<SelectListItem> WallCoverTypeList = new List<SelectListItem>()
{
        new SelectListItem()
        {
            Text = "Плитка",
            Value = "Плитка"
        },
        new SelectListItem()
        {
            Text = "Окраска",
            Value = "Окраска"
        },
        new SelectListItem()
        {
            Text = "Панели ПВХ",
            Value = "Панели ПВХ"
        }
    };

    List<SelectListItem> CeilingCoverType = new List<SelectListItem>()
{
        new SelectListItem()
        {
            Text = "Реечный",
            Value = "Реечный"
        },
        new SelectListItem()
        {
            Text = "Натяжной",
            Value = "Натяжной"
        },
        new SelectListItem()
        {
            Text = "Окраска",
            Value = "Окраска"
        }
        ,
        new SelectListItem()
        {
            Text = "Стеклянный",
            Value = "Стеклянный"
        }
    };

    List<(string Name, string Text)> ModalFields = new List<(string, string)>
{
        ("Surname", "Фамилия"),
        ("Name", "Имя"),
        ("Phone", "Телефон"),
        ("Email", "Email")
    };

    string returnUrl = "/";
}

@section MainMenu
{
    <partial name="MainMenu" model="returnUrl" />
}

<div class="order">

    <form method="post">
        <h1>Калькулятор стоимости ремонта</h1>
        <h2>Пройди всего 5 шагов и выбери свой подарок до 30 000 р.</h2>
        <hr />

        <div id="page0" style="display: block;">
            <h2>Выберите тип ремонта</h2>

            <div class="container-fluid">


                <div class="col-xs-12">
                    <div class="row" style="background-color: #FAFAFA; padding: 5px">
                        <div class="col-sm-6 col-xs-12 ">
                            <h4><b>Все включено</b></h4>
                            <ul style="text-align: left">
                                <li>
                                    Три уникальных дизайн проекта на выбор
                                </li>
                                <li>
                                    Подбор всего материала согласно, дизайн проекта
                                </li>
                                <li>Поставка всего материала согласно, дизайн проекта</li>
                                <li>Выполнение ремонтно-монтажных работ согласно проектной документации</li>
                                <li>Вывоз мусора</li>
                                <li>Уборка помещения после ремонта</li>
                                <li>Подарок от компании Bath-Dream до 30 тысяч рублей из выбранной сантехники.</li>

                            </ul>
                            <a class="btn btn-success" name="Estimate" onclick="
                document.getElementById('page0').style.display = 'none';
                document.getElementById('page1').style.display = 'block';
                window.scrollTo(0, 0);
            ">Выбрать</a>
                        </div>

                        <div class="col-sm-6 col-xs-12 "><img src="/img/type1.jpg" style="width: 100%; " /></div>
                    </div>
                </div>

                <div class="col-xs-12">
                    <div class="row" style="padding: 5px">
                        <div class="col-sm-6 col-xs-12 ">
                            <h4><b>Стандарт</b></h4>
                            <ul style="text-align: left">
                                <li>Закупка чернового материала согласно ремонтно-монтажных работам</li>
                                <li>Выполнение ремонтно-монтажных работ согласно проектной документации</li>
                                <li>Вывоз мусора</li>
                            </ul>
                            <a class="btn btn-success" name="Estimate" onclick="
                document.getElementById('page0').style.display = 'none';
                document.getElementById('page1').style.display = 'block';
                window.scrollTo(0, 0);
            ">Выбрать</a>
                        </div>

                        <div class="col-sm-6 col-xs-12 "><img src="/img/type1.jpg" style="width: 100%; " /></div>
                    </div>
                </div>

                <div class="col-xs-12">
                    <div class="row" style="background-color: #FAFAFA; padding: 5px">
                        <div class="col-sm-6 col-xs-12 ">
                            <h4><b>Без гарантии</b></h4>
                            <ul style="text-align: left">
                                <li>
                                    Выполнение ремонтно-монтажных работ согласно проектной документации.
                                    Вы закупаете весь материал сами, мы не гарантируем гарантию качества материала. Гарантия будет ограниченна
                                </li>
                            </ul>
                            <a class="btn btn-success" name="Estimate" onclick="
                document.getElementById('page0').style.display = 'none';
                document.getElementById('page1').style.display = 'block';
                window.scrollTo(0, 0);
            ">Выбрать</a>
                        </div>

                        <div class="col-sm-6 col-xs-12 "><img src="/img/type1.jpg" style="width: 100%; " /></div>
                    </div>
                </div>

                <div class="col-xs-12">
                    <div class="row" style="padding: 5px">
                        <div class="col-sm-6 col-xs-12 ">
                            <h4><b>Сервис</b></h4>
                            <ul style="text-align: left">
                                <li>Опишите задачу ремонта для составления сметной документации</li>
                                <li>При возможности приложите фотографии.</li>
                            </ul>
                            <a class="btn btn-success" name="Estimate">Выбрать</a>
                        </div>

                        <div class="col-sm-6 col-xs-12 "><img src="/img/type1.jpg" style="width: 100%; " /></div>
                    </div>
                </div>

            </div>

            <hr />
            
        </div>

        <div id="page1" style="display: none;">
            <simple-form-container label="Выберите объект" col-sm-width="8">
                <select class="form-control" name="ObjectType" asp-items="ObjectTypeList"></select>
            </simple-form-container>

            <h2>Размеры помещений</h2>
            <table id="rooms" class="table table-hover table-condensed table-responsive">
                <tr>
                    <th style="text-align: center;">Помещение</th>
                    <th style="text-align: center;">Длина, мм</th>
                    <th style="text-align: center;">Ширина, мм</th>
                    <th style="text-align: center;">Высота, мм</th>
                    <th class="door">Дверь Ш x B, мм</th>
                    <th></th>
                </tr>

                <tr>
                    <td><input type="text" class="form-control" name="room_name" value="Ванная" /></td>
                    <td><input type="number" class="form-control" name="room_length" min="0" step="1" placeholder="0" /></td>
                    <td><input type="number" class="form-control" name="room_width" min="0" step="1" placeholder="0" /></td>
                    <td><input type="number" class="form-control" name="room_height" min="0" step="1" placeholder="0" /></td>

                    <td class="door">
                        <select class="form-control input-inline" name="door_width">
                            <option>600</option>
                            <option>700</option>
                            <option>800</option>
                            <option>900</option>
                            <option>1000</option>
                        </select>
                        X
                        <select class="form-control input-inline" name="door_height">
                            <option>1900</option>
                            <option>2000</option>
                            <option>2200</option>
                        </select>
                    </td>
                    <td></td>
                </tr>
            </table>
            <div class="text-right">
                <button type="button" class="btn btn-success add-row">Добавить еще помещение</button>
            </div>

            <hr />
            <table style="border: 0; width: 100%">
                <tr>
                    <td>
                        <button type="button" class="btn btn-success" onclick="
                            document.getElementById('page0').style.display = 'block';
                            document.getElementById('page1').style.display = 'none';
                            window.scrollTo(0, 0);
                            ">
                            Назад
                        </button>
                    </td>
                    <td align="right">
                        <button type="button" class="btn btn-success" onclick="
                            document.getElementById('page1').style.display = 'none';
                            document.getElementById('page2').style.display = 'block';
                            window.scrollTo(0, 0);
                            ">
                            Далее
                        </button>
                    </td>
                </tr>
            </table>
        </div>

        @*<simple-form-container label="Санузен совмещенный?" col-sm-width="8">
                <radio-form-element element-name="Order.CombinedBathroom" element-value="true">Да</radio-form-element>
                <radio-form-element element-name="Order.CombinedBathroom" element-value="false" element-checked="true">Нет</radio-form-element>
            </simple-form-container>*@

        <div id="page2" style="display: none;">
            <simple-form-container label="Требуется демонтаж?" col-sm-width="8">
                <radio-form-element element-name="Order.RequiredRemoval" element-value="true">Да</radio-form-element>
                <radio-form-element element-name="Order.RequiredRemoval" element-value="false" element-checked="true">Нет</radio-form-element>
            </simple-form-container>

            <simple-form-container label="Требуется замена труб?" col-sm-width="8">
                <radio-form-element element-name="Order.RequiredReplacePipeline" element-value="true" onclick="document.getElementById('replacing-pipeline').style.display='block'">Да</radio-form-element>
                <radio-form-element element-name="Order.RequiredReplacePipeline" element-value="false" element-checked="true" onclick="document.getElementById('replacing-pipeline').style.display='none'">Нет</radio-form-element>
            </simple-form-container>

            <div id="replacing-pipeline" style="display: none">
                <hr />
                <h2>Что требуется по замене труб?</h2>
                <div class="container-fluid">
                    <div class="row">
                        @foreach (var item in Model.PipeLineEquipment)
                        {
                            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                                <div class="install panel panel-success">
                                    <div class="install-title"><span>@item.DisplyName</span></div>
                                    <img alt="Brand" src=@item.Image />
                                    <div class="amount">
                                        <span class="down">-</span>
                                        <input type="text" name=@item.BindedProperty class="form-control" id="InputAmount" value="0" size="5" style="display: initial; width: 50px" />
                                        <span class="up">+</span>
                                    </div>

                                    <!-- <input type="number" name=@item.BindedProperty class="form-control" id="InputAmount" min="0" placeholder="1" />-->
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>

            <hr />

            <table style="border: 0; width: 100%">
                <tr>
                    <td>
                        <button type="button" class="btn btn-success" onclick="
                            document.getElementById('page1').style.display = 'block';
                            document.getElementById('page2').style.display = 'none';
                            window.scrollTo(0, 0);
                            ">
                            Назад
                        </button>
                    </td>
                    <td align="right">
                        <button type="button" class="btn btn-success" onclick="
                            document.getElementById('page2').style.display = 'none';
                            document.getElementById('page3').style.display = 'block';
                            window.scrollTo(0, 0);
                            ">
                            Далее
                        </button>
                    </td>
                </tr>
            </table>
        </div>

        <div id="page3" style="display: none;">
            <h2>Что требуется установить?</h2>

            <div class="container-fluid">
                <div class="row">
                    @foreach (var item in Model.BathroomEquipments)
                    {
                        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                            <div class="install panel panel-success">
                                <div class="install-title"><span>@item.DisplyName</span></div>
                                <img alt="Brand" src=@item.Image />

                                <div class="amount">
                                    <span class="down">-</span>
                                    <input type="text" name=@item.BindedProperty class="form-control" id="InputAmount" value="0" size="5" style="display: initial; width: 50px" />
                                    <span class="up">+</span>
                                </div>

                                <!--<input type="number" name=@item.BindedProperty class="form-control" id="InputAmount" min="0" placeholder="0" />-->
                            </div>
                        </div>
                    }
                </div>
            </div>

            <hr />


            <table style="border: 0; width: 100%">
                <tr>
                    <td>
                        <button type="button" class="btn btn-success" onclick="
                            document.getElementById('page2').style.display = 'block';
                            document.getElementById('page3').style.display = 'none';
                            window.scrollTo(0, 0);
                            ">
                            Назад
                        </button>
                    </td>
                    <td align="right">
                        <button type="button" class="btn btn-success" onclick="
                            document.getElementById('page3').style.display = 'none';
                            document.getElementById('page4').style.display = 'block';
                            window.scrollTo(0, 0);
                            ">
                            Далее
                        </button>
                    </td>
                </tr>
            </table>

        </div>

        <div id="page4" style="display: none;">
            <h2>Электромонтажные работы</h2>

            <simple-form-container label="Колличество розеток и выключателей" col-sm-width="4">
                <div class="amount">
                    <span class="down">-</span>
                    <input type="text" name="Order.SwitchAmount" class="form-control" id="InputAmount" value="0" size="5" style="display: initial; width: 50px" />
                    <span class="up">+</span>
                </div>
            </simple-form-container>

            <simple-form-container label="Теплые полы" col-sm-width="8">
                <radio-form-element element-name="Order.WarmFloor" element-value="true">Да</radio-form-element>
                <radio-form-element element-name="Order.WarmFloor" element-value="false" element-checked="true">Нет</radio-form-element>
            </simple-form-container>

            <hr />

            <table style="border: 0; width: 100%">
                <tr>
                    <td>
                        <button type="button" class="btn btn-success" onclick="
                            document.getElementById('page3').style.display = 'block';
                            document.getElementById('page4').style.display = 'none';
                            window.scrollTo(0, 0);
                            ">
                            Назад
                        </button>
                    </td>
                    <td align="right">
                        <button type="button" class="btn btn-success" onclick="
                            document.getElementById('page4').style.display = 'none';
                            document.getElementById('page5').style.display = 'block';
                            window.scrollTo(0, 0);
                            ">
                            Далее
                        </button>
                    </td>
                </tr>
            </table>

        </div>


        <div id="page5" style="display: none;">
            <h2>Отделка</h2>
            <simple-form-container label="Полы:" col-sm-width="3">
                <select class="form-control" name="Order.FloorType" asp-items="FloorTypeList"></select>
            </simple-form-container>

            <simple-form-container label="Требуется возведение стен?" col-sm-width="8">
                <radio-form-element element-name="Order.NeedMakeWalls" element-value="true">Да</radio-form-element>
                <radio-form-element element-name="Order.NeedMakeWalls" element-value="false" element-checked="true">Нет</radio-form-element>
            </simple-form-container>


            <simple-form-container label="Стены:" col-sm-width="3">
                <select class="form-control" name="Order.WallCoverType" asp-items="WallCoverTypeList"></select>
            </simple-form-container>

            <simple-form-container label="Потолок:" col-sm-width="3">
                <select class="form-control" name="Order.CeilingCoverType" asp-items="CeilingCoverType"></select>
            </simple-form-container>

            <simple-form-container label="Установка двери" col-sm-width="8">
                <radio-form-element element-name="Order.InstallDoor" element-value="true">Да</radio-form-element>
                <radio-form-element element-name="Order.InstallDoor" element-value="false" element-checked="true">Нет</radio-form-element>
            </simple-form-container>
            <hr />
            <button type="button" class="btn btn-success" onclick="
                            document.getElementById('page4').style.display = 'block';
                            document.getElementById('page5').style.display = 'none';
                            window.scrollTo(0, 0);
                            ">
                Назад
            </button>
            <hr />
            <button class="btn btn-success btn-lg btn-block" asp-page-handler="submit">Расчитать смету</button>
        </div>
        @*<button type="submit" class="btn btn-success btn-lg btn-block" asp-page-handler="submit">Расчитать смету1</button>*@
        @*<button type="button" class="btn btn-success btn-lg btn-block" formaction="/?handler=submit" data-target="#modal-order" data-toggle="modal">Расчитать смету</button>*@

        @*<div aria-hidden="true" aria-labelledby="myModalLabel" class="modal fade" id="modal-order" role="dialog" tabindex="-1">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                                <span aria-hidden="true">
                                    &times;
                                </span>
                            </button>
                            <h4 class="modal-title" id="myModalLabel">На какой адрес отправить смету?</h4>
                        </div>

                        <div class="modal-body">
                            @foreach (var item in ModalFields)
                            {
                                <div class="form-group row">
                                    <label class="col-sm-3" for="@item.Name" style="font-size: unset;">@item.Text:*</label>
                                    <div class="col-sm-9">
                                        <input class="form-control" id="@item.Name" name="@($"Customer.{item.Name}")" placeholder="@item.Text" type="text" required />
                                    </div>
                                </div>
                            }
                        </div>

                        <div class="modal-footer">
                            <p class="small">Нажимая кнопку "Отправить смету", Вы соглашаетесь с условиями <a href="https://bath-dream.ru/" target="_blank">Пользовательского соглашения</a></p>
                            <button class="btn btn-secondary" data-dismiss="modal" type="button">Закрыть</button>
                            <button type="submit" class="btn btn-success" name="send" id="send_order" asp-page-handler="submit">Отправить смету</button>
                        </div>
                    </div>
                </div>
            </div>*@
    </form>

    <script type="text/javascript">

        rooms.addEventListener('click', function (evt) {
            if (evt.target.closest('.deleteRow')) {
                evt.target.closest('tr').remove();
                //renameRooms();
            }
        })

        function addTableRow() {
            var rowNewText = '<td><input type="text" class="form-control" name="room_name" value="Санузел" /></td><td><input type="number" class="form-control" name="room_length" min="0" step="1" placeholder="0" /></td><td><input type="number" class="form-control" name="room_width" min="0" step="1" placeholder="0" /></td><td><input type="number" class="form-control" name="room_height" min="0" step="1" placeholder="0" /></td><td class="door"><select class="form-control input-inline" name="door_width"><option>600</option><option>700</option><option>800</option><option>900</option><option>1000</option></select>X<select class="form-control input-inline" name="door_height"><option>1900</option><option>2000</option><option>2200</option></select></td><td class="deleteRow"><img src="img/delete.png"></td>';

            var table = document.getElementById("rooms"),
                rowsCount = table.rows.length,
                newRowNumber = rowsCount + 1,
                newRow = table.insertRow();
            newRow.innerHTML = rowNewText;

            //           renameRooms();
        }

        function renameRooms() {
            var tbl = document.getElementById("rooms");

            for (var r = 1; r < tbl.rows.length; r++) {
                for (var j = 0; j < 5; j++) {
                    var inpt = tbl.rows[r].cells[j].getElementsByTagName("input");
                    var name;
                    switch (j) {
                        case 0:
                            name = "room_name";
                            break;
                        case 1:
                            name = "room_length";
                            break;
                        case 2:
                            name = "room_width";
                            break;
                        case 3:
                            name = "room_height";
                            break;
                    }

                    inpt[0].setAttribute("name", name);
                }
                inpt = tbl.rows[r].cells[4].getElementsByTagName("input");
                inpt[0].setAttribute("name", "door_width");
                inpt[1].setAttribute("name", "door_height");
            }
        }
        document.querySelector('.add-row').addEventListener('click', addTableRow);
    </script>
</div>
