@page
@Html.AntiForgeryToken()
@model BathDream.Pages.Account.AchChatModel
@{
    int i = 1;
}
@{
    ViewData["Title"] = "Чат с пользователем";
}

@section MainMenu
{
    <partial name="MainMenu" model="null" />
}

<br />
<br />
<div class="messaging">
    <div class="inbox_msg">
        <div class="mesgs">
            <div class="msg_history" id="chatroom"></div>
            <div class="type_msg">
                <div class="input_msg_write">
                    <!--<textarea id="message"  class="write_msg" placeholder="Написать сообщение"></textarea>-->
                    <input type="text" id="message" class="write_msg" placeholder="Написать сообщение" />
                    <button class="msg_send_btn" id="sendBtn" type="button"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>
<form asp-page-handler="SaveFile" enctype="multipart/form-data" method="post">
    <input asp-for="Input.OrderId" type="hidden" value="@Model.Input.OrderId" />
    <input asp-for="Input.UserId" type="hidden" />
    <div>
        <table class="table table-bordered table-hover">
            <tr class="success">
                <th style="text-align:center" width="90%">Загруженные файлы</th>
                <th>
                    <input type="file" class="btn" name="uploadedFile" />
                </th>
                <th>
                    <input type="submit" class="btn btn-success" value="Сохранить" />
                </th>
            </tr>

            @foreach (var item in Model.Input.FileItems)
            {
                <tr>
                    <td style="text-align:left;" colspan="1">
                        <i class="far fa-image">@item.FrendlyName</i>

                    </td>
                    <td colspan="2">
                        <a class="btn" asp-page-handler="DeleteFile" asp-route-id="@item.Id"><i class="fas fa-times">Удалить</i></a>
                    </td>
                </tr>
            }
        </table>
    </div>
</form>



<script src="/js/microsoft/signalr/dist/browser/signalr.js"></script>
<script type="text/javascript">
    var connection = new signalR.HubConnectionBuilder().withUrl("/chat").build();
    const messages = document.getElementById('chatroom');
    connection.on("Send", function (data) {

        var when = new Date(data.when);
        var options = {
            year: 'numeric',
            month: 'long',
            day: 'numeric',
            hour: 'numeric',
            minute: 'numeric'
        };
        let elem = document.createElement("div");
        if (data.isMe == 1) {

            elem.className = "outgoing_msg";

            let elem2 = document.createElement('div');
            elem2.className = "sent_msg";

            let elem3 = document.createElement('p');
            elem3.innerHTML = data.message;

            let elemWhen = document.createElement('span');
            elemWhen.innerHTML = when.toLocaleString("ru", options);
            elemWhen.className = "time_date";

            elem2.appendChild(elem3);
            elem2.appendChild(elemWhen);

            elem.appendChild(elem2);
            elem.appendChild(elem2);

        }
        else {
            elem.className = "incoming_msg";
            let elem2 = document.createElement('div');
            elem2.className = "received_msg";
            let elem3 = document.createElement('div');
            elem3.className = "received_withd_msg";
            let elem4 = document.createElement('p');
            elem4.innerHTML = data.message;

            let elemWhen = document.createElement('span');
            elemWhen.className = "time_date";
            elemWhen.innerHTML = when.toLocaleString("ru", options);

            elem3.appendChild(elem4);
            elem3.appendChild(elemWhen);

            elem2.appendChild(elem3);
            elem.appendChild(elem2);
        }


        let cr = document.getElementById("chatroom");
        cr.insertAdjacentElement('beforeend', elem);
        messages.scrollTop = messages.scrollHeight;
    });

    connection.on("GetId", function (data) {
        connection.send("GetCustomerMessages", "@Model.Input.UserId")
    });

    document.getElementById("sendBtn").addEventListener("click", function (e) {
        let message = document.getElementById("message").value;
        connection.invoke("SendToClient", message, "@Model.Input.UserId");
    });

    document.getElementById("message").addEventListener("keyup", function (event) {
        if (!event.shiftKey && event.keyCode === 13) {
            event.preventDefault();
            document.getElementById("sendBtn").click();
            document.getElementById("message").value = "";
        }
    });

    connection.start();
</script>




@*
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>

    <script>
        $("#FileUploadForm").submit(function (e) {
            e.preventDefault();

            console.log('Doing ajax submit');
            var formAction = $(this).attr("action");
            var fdata = new FormData();

            var fileInput = $('#uploadFile')[0];
            var uploadedFile = fileInput.files[0];
            fdata.append("file", uploadedFile);

            $.ajax({
                type: 'get',
                url: "AchChat?handler=SaveFile",
                data: {
                    uploadedFile: fdata
                },
                processData: false,
                contentType: false
            }).done(function (result) {
                console.log(result);
                if (result.status === "success") {
                    alert(result.url);
                } else {
                    alert(result.message);
                }
            });
        });
    </script>
*@

<!--Тестовый код для себя-->
<!--Get - работает-->
<!--<script>
    $("#GETbtn").click(function (e) {
        var str = "test1";
        $.ajax({
            type: 'get',
            url: 'AchChat?handler=Test',
            data: {
                test: str
            },
            success: function (data) {
                console.log('Success');
            }
        });
    });
</script>-->
<!--Post - не работает!!!-->
<!--<script>
    $("#POSTbtn").click(function (e) {
        var str = "test";
        $.ajax({
            type: 'post',
            url: 'AchChat?handler=Test',
            headers:
            {
                "RequestVerificationToken": $('input:hidden[name="__RequestVerificationToken"]').val()
            },
            data: {
                test: 'testestest'
            },
            success: function (data) {
                console.log('Success');
            }
        });
    });
</script>-->
