@page
@using BathDream.Models
@model BathDream.Pages.Account.CustomerModel
@{
    ViewData["Title"] = "Профиль пользователя";
}

<br />
<br />
<p>Страница пользователя @Model.Input.NameFamaly</p>
<a asp-page="/Account/Manage/ProfileCustomer">Редактировать профиль</a>
<a asp-page-handler="Logout">Выход</a>

<br />
@if (Model.Input.Display)
{
    string sub_caption = "";
    int room_count = 1;

<table border="1">
    <tr>
        <td>Приложение № 1</td>
    </tr>
    <tr>
        <td>К договору №______________________________</td>
        <td></td>
        <td></td>
        <td>@Model.Input.OrderDate</td>
    </tr>
    <tr>
        <td>Адрес объекта:____________________________</td>
    </tr>
    <tr>
        <td>Сметный расчет:</td>
        <td>@Model.Input.OrderNumber</td>
    </tr>
    <tr>
        <td>Тел.:</td>
        <td>@Model.Input.CustomerPhone</td>
    </tr>
    <tr>
        <td>Email:</td>
        <td>@Model.Input.CustomerEmail</td>
    </tr>
</table>
<br />

<table border="1">
    <caption>Помещения</caption>
    @foreach (Room room in @Model.Input.Rooms)
    {
        <tr>
            <td>@{room_count++;}</td>
            <td>Размеры помещения</td>
            <td>Ширина</td>
            <td>Длинна</td>
            <td>Высота</td>
            <td>м2</td>
        </tr>
        <tr>
            <td></td>
            <td>Размеры</td>
            <td>@room.Width</td>
            <td>@room.Length</td>
            <td>@room.Height</td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td>Полы</td>
            <td></td>
            <td></td>
            <td></td>
            <td>@room.FloorArea()</td>
        </tr>
        <tr>
            <td></td>
            <td>Стены</td>
            <td></td>
            <td></td>
            <td></td>
            <td>@room.WallsArea()</td>
        </tr>
        <tr>
            <td></td>
            <td>Потолок</td>
            <td></td>
            <td></td>
            <td></td>
            <td>@room.CeilingArea()</td>
        </tr>
        <tr>
            <td></td>
            <td>Двери</td>
            <td></td>
            <td></td>
            <td></td>
            <td>@room.DoorArea()</td>
        </tr>
        <tr></tr>
    }
</table>

    <table border="1">
        <caption>Работы</caption>
        <tr>
            <th>ПП</th>
            <th></th>
            <th>Наименование работа</th>
            <th>ед.изм</th>
            <th>цена</th>
            <th>кол-во</th>
            <th>итог</th>
        </tr>

        @foreach (Work work in @Model.Input.Works)
        {
            @if(sub_caption != work.Group)
            {
                sub_caption = work.Group;
                <tr>
                    <td colspan="7">@sub_caption</td>
                </tr>
            }
            <tr>
                <td>@work.Position</td>
                <td>@work.FirstWord</td>
                <td>@work.WithoutFirstWord</td>
                <td>@work.Unit</td>
                <td>@work.Price</td>
                <td>@work.Volume</td>
                <td>@work.Total</td>
            </tr>
        }
    </table>
    <p>Итого @Model.Input.Total</p>
    <p>Исполнитель__________   Заказчик_________</p>
    
}