@page
@using BathDream.Models
@model BathDream.Pages.Account.CustomerModel
@{
    ViewData["Title"] = "Профиль пользователя";
}

<br />
<br />
<!--<p>Страница пользователя @Model.Input.NameFamaly</p>
<a asp-page="/Account/Manage/ProfileCustomer">Редактировать профиль</a>
<a asp-page-handler="Logout">Выход</a>-->

<div>

    <button type="button" class="btn btn-info" style="width: 150px;">Смета</button>
    <button type="button" class="btn btn-info" style="width: 150px;">Договор</button>
    <button type="button" class="btn btn-info" style="width: 150px;">Проект</button>
    <button type="button" class="btn btn-info" style="width: 150px;">Материал</button>
    <button type="button" class="btn btn-info" style="width: 150px;">Документы</button>

</div>

<br />
@if (Model.Input.Display)
{
    string sub_caption = "";

    <h2>Приложение № 1</h2>
    <p>К договору №________ от @Model.Input.OrderDate</p>
    <p>Адрес объекта:____________________________</p>
    <p>Сметный расчет: @Model.Input.OrderNumber</p>


    <h3>Помещения</h3>


    <table class="table table-bordered table-hover">
        <tr class="success">
            <th>Помещение</th>
            @foreach (Room room in @Model.Input.Rooms)
            {
                <th style="text-align: center;">@room.Name</th>
            }
        </tr>
        <tr>
            <td>Размеры</td>
            @foreach (Room room in @Model.Input.Rooms)
            {
                <td style="text-align: center;">@room.Width x @room.Length x @room.Height мм</td>
            }
        </tr>
        <tr>
            <td>Пол</td>
            @foreach (Room room in @Model.Input.Rooms)
            {
                <td style="text-align: center;">@room.FloorArea() кв.м</td>
            }
        </tr>
        <tr>
            <td>Стены</td>
            @foreach (Room room in @Model.Input.Rooms)
            {
                <td style="text-align: center;">@room.WallsArea() кв.м</td>
            }
        </tr>
        <tr>
            <td>Потолок</td>
            @foreach (Room room in @Model.Input.Rooms)
            {
                <td style="text-align: center;">@room.CeilingArea() кв.м</td>
            }
        </tr>
        <tr>
            <td>Дверь</td>
            @foreach (Room room in @Model.Input.Rooms)
            {
                <td style="text-align: center;">@room.DoorArea() кв.м</td>
            }
        </tr>
        <tr></tr>
    </table>


    <h3>Работы</h3>
    <table class="table table-bordered table-hover">
        <tr class="success">
            <th style="text-align: center;">№ п/п</th>
            <th style="text-align: center;">Тип</th>
            <th style="text-align: center;">Наименование</th>
            <th style="text-align: center;">Ед.изм</th>
            <th style="text-align: center;">Цена</th>
            <th style="text-align: center;">Кол-во</th>
            <th style="text-align: center;">Сумма</th>
        </tr>

        @foreach (Work work in @Model.Input.Works)
        {
            @if (sub_caption != work.Group)
            {
                sub_caption = work.Group;
                <tr>
                    <td colspan="7" class="info" style="text-align: center;"><b>@sub_caption</b></td>
                </tr>
            }
            <tr>
                <td style="text-align: center;">@work.Position</td>
                <td>@work.FirstWord</td>
                <td>@work.WithoutFirstWord</td>
                <td style="text-align: center;">@work.Unit</td>
                <td style="text-align: right;">@work.Price.ToString("# ##0")</td>
                <td style="text-align: center;">@work.Volume</td>
                <td style="text-align: right;">@work.Total.ToString("# ##0.00")</td>
            </tr>
        }
    </table>
    <h2 style="text-align: right;">Итого: @Model.Input.Total.ToString("# ##0.00")</h2>
    <button class="btn btn-success" type="submit">Подписать</button>

}